* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

/*******************
*** NAVBAR CAIXA ***
*******************/

header .container{
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
}

header .logo {
    margin-left: 20px;
}

header nav a {
    margin-right: 40px;
    color: #ffffff;
    font-weight: 600;
    font-size: 100%;
}

header nav a:hover {
    color: #8d8c8c;
    transition: .40s ease all;
}

/*********************
*** PRIMEIRA CAIXA ***
*********************/

.box1 {
    background-image: linear-gradient(180deg, rgba(0,0,0,.50)30%, rgba(206, 52, 52, 0.45) 70%), url(/assets/Image/firstphoto.jpg);
    background-size: cover;
    height: 750px;
    width: 100%; 
}

.box-text {
    color: black;
    height: 130px;
    width: 1400px;
    position: relative;
    margin: auto;
    text-align: center;
    align-items: center;
    top: 340px;
}

h1 {
    color: white;
    font-size: 88px;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0px;
    text-shadow: 5px 3px 100px rgb(0 0 0 / 70%);
}

h2 {
    color: #fff;
    font-size: 21px;
    font-weight: 100;
    margin-top: 25px;
    letter-spacing: 1px;
}

.whatsapp {
    height: 60px;
    width: 60;
    position: fixed;
    top: 90%;
    left: 94.5%;
    opacity: 0.8;
    transition: .40s ease all;
}

.whatsapp:hover {
    transform: scale(1.2);
    opacity: 1;
    transition: .40s ease all;
}

.link-main {
    color: #fff;
    background-color: rgba(224, 56, 56, 1);
    width: 360px;
    height: 45px;
    font-size: 20px;
    letter-spacing: 1px;
    align-items: center;
    text-align: center;
    padding: 12px 0 10px 3px;
    position: relative;
    top: 25px;
    left: 38%;
    transition: .40s ease-in-out;
}

.link-main:hover {
    transform: scale(1.25);
    transition: .40s ease-in-out;
    background-color: rgb(235, 35, 35);
}

/********************
*** SEGUNDA CAIXA ***
********************/

.box2 {
    height: 489.719px;
    width: 100%;
    background-color: black;

    color: #fff;
    text-align: center;
}

.pbox2-1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.3px;
    padding-top: 3em;
}

.pbox2-2 {
    font-size: 32px;
    font-weight: bold;
}

#pbox2-3 {
    position: relative;
    top: 70px;
    font-size: 60px;
    font-weight: 800;
}

.pbox2-31 {
    position: relative;
    right: 75px;
}

.pbox2-32 {
    position: relative;
    right: 25px; 
}

.pbox2-33 {
    position: relative;
    left: 23px; 
}

.pbox2-34 {
    position: relative;
    left: 80px;
}

.pbox2-4 {
    font-size: 19px;
    font-weight: 300;
}

.pbox2-41 {
    position: relative;
    right: 135px;
    top: 70px;
}

.pbox2-42 {
    position: relative;
    right: 15px; 
    top: 70px;
}

.pbox2-43 {
    position: relative;
    left: 78px; 
    top: 70px;
}

.pbox2-44 {
    position: relative;
    left: 140px;
    top: 70px; 
}

/*********************
*** TERCEIRA CAIXA ***
*********************/
.box3 {
    background-image: url(/assets/Image/teste.gif);
    background-size: cover;
    border: 1px solid black;
    height: 931.094px;
    width: 100%;
    padding: 75px 20px 75px 20px;
}

.box3-1 {
    font-size: 48px;
    font-weight: 800;
    color: #011627;
    align-items: center;
    align-content: center;
    text-align: center;
}

.box3-12 {
    margin-top: -25px;
    margin-bottom: 20px;
}

.box3-2 {
    font-size: 22px;
    color: rgba(1,22,39,0.75);
    width: 600px;
    align-items: center;
    align-content: center;
    text-align: center;
    letter-spacing: 1px;
    line-height: 35px;
    position: relative;
    margin: auto;
}

.box3-22 {
    margin-top: 50px;
}

.box4 {
    background-color: black;
    height: 829.406px;
    width: 100%;
}


.box5 {
    background-color: red;
    height: 440.797px;
    width: 100%;
}

.box6 {
    background-color: white;
    height: 53px;
    width: 100%;
    padding: 40px 0 40px 0;
}

footer {
    background-color: black;
    height: 443.656px;
    width: 100%;
}

